$lineOfTimeHeight: 62px;
$grayColor: #f0f0f0;
$grayTextColor: #a3a3a3;

.empty_box {
  height: $lineOfTimeHeight;
  border-bottom: solid 1px $grayColor;
  margin-bottom: 10px;
}

.timeline {
  display: flex;
  flex-direction: column;
  flex-basis: 6%;
  border-right: solid 1px $grayColor;
}

.line_of_time_container {
  width: 100%;
  display: flex;

  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding-right: 20%;
  height: 60px;
  padding-bottom: 10px;
}

.line_of_time_wrapper {
  display: flex;
  align-items: center;
  height: 1.3px;
}

.line_of_time {
  height: 1.2px;
  width: 13px;
  background-color: $grayTextColor;
}

.line_of_time_long {
  width: 23px;
}

.line_of_time_middle {
  width: 16px;
}
